<main>
  <ul class="mt-4 nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a href="#firstName" class="nav-link link-success active" data-bs-toggle="tab"
        >First Name</a
      >
    </li>
    <li class="nav-item">
      <a href="#lastName" class="link-success nav-link" data-bs-toggle="tab"
        >Last Name</a
      >
    </li>
  </ul>
  <div class="container">
      <div class="tab-content">
          <div class="tab-pane fade show active" id="firstName">
            <app-update-first-name></app-update-first-name>
          </div>
          <div class="tab-pane fade" id="lastName">
            <app-update-last-name></app-update-last-name>
          </div>
          
        </div>
  </div>
  
</main>