<div class="row">
  <div class="col-md-2">
    <div class="card no-shadow text-center border-0">
      <div
        class="
          card-body
          d-flex
          justify-content-center
          align-items-center
          flex-column
        "
      >
        <div id="icon"
          class="
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            m-3
          "
          style="width: 6rem; height: 6rem"
        >
          <i class="bi bi-code-slash"></i>
        </div>
        <h5 class="card-title">Front End Dev.</h5>
      </div>
    </div>
  </div>
  
  <div class="col-md-2">
    <div class="card no-shadow text-center border-0">
      <div
        class="
          card-body
          d-flex
          justify-content-center
          align-items-center
          flex-column
        "
      >
        <div id="icon"
          class="
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            m-3
          "
          style="width: 6rem; height: 6rem"
        >
        <i class="bi bi-palette-fill"></i>
        </div>
        <h5 class="card-title">Designer</h5>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card no-shadow text-center border-0">
      <div
        class="
          card-body
          d-flex
          justify-content-center
          align-items-center
          flex-column
        "
      >
        <div id="icon"
          class="
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            m-3
          "
          style="width: 6rem; height: 6rem"
        >
        <i class="pi pi-apple"></i>
        </div>
        <h5 class="card-title">IOS Developer</h5>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-2">
    <div class="card no-shadow text-center border-0">
      <div
        class="
          card-body
          d-flex
          justify-content-center
          align-items-center
          flex-column
        "
      >
        <div id="icon"
          class="
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            m-3
          "
          style="width: 6rem; height: 6rem"
        >
        <i class="pi pi-android"></i>
        </div>
        <h5 class="card-title">Android Dev.</h5>
      </div>
    </div>
  </div> -->

  <div class="col-md-2">
    <div class="card no-shadow text-center border-0">
      <div
        class="
          card-body
          d-flex
          justify-content-center
          align-items-center
          flex-column
        "
      >
        <div id="icon"
          class="
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            m-3
          "
          style="width: 6rem; height: 6rem"
        >
        <i class="bi bi-server"></i>
        </div>
        <h5 class="card-title">Data Engineer</h5>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card no-shadow text-center border-0">
      <div
        class="
          card-body
          d-flex
          justify-content-center
          align-items-center
          flex-column
        "
      >
        <div id="icon"
          class="
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            m-3
          "
          style="width: 6rem; height: 6rem"
        >
        <i class="bi bi-joystick"></i>
        </div>
        <h5 class="card-title">Game Developer</h5>
      </div>
    </div>
  </div>
  
</div>