<div class="row d-flex justify-content-center align-items-center">
  <div *ngFor="let job of jobAdvertisements | slice: 0:5" class="col-md-4 my-4">
    <div routerLink="/job-detail/{{job.id}}" class="card" style="width: 25rem">
      <div class="card-header main-color">
        <div class="d-flex py-1 justify-content-between align-items-center">
          <div>
            <h5 class="card-title fw-bold">{{ job.employer.companyName }}</h5>
            <h6 class="card-subtitle mb-2 fw-light text-muted">
              <i class="bi bi-geo-alt"></i> {{ job.city.name }}
            </h6>
          </div>
        </div>
      </div>
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">{{ job.position.title }}</h5>
          <h6 class="card-text fw-light">
            <i class="bi bi-telephone"></i> {{ job.employer.phoneNumber }}
          </h6>
        </div>

        <div class="mt-4">
          <span class="badge blue">{{ job.workTime }}</span>
          <span class="badge blue ms-1">{{ job.workModel }}</span>
        </div>
      </div>
      <div class="card-footer main-color text-muted">
        <span class="fw-bold">Deadline:</span>
        {{ job.deadline | date: "MMMM d, y" }}
      </div>
    </div>
  </div>
</div>
