<ul class="mt-4 nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a href="#company" class="nav-link link-success active" data-bs-toggle="tab"
      >Company Name</a
    >
  </li>
  <li class="nav-item">
    <a href="#email" class="link-success nav-link" data-bs-toggle="tab"
      >Email and Website</a
    >
  </li>
  <li class="nav-item">
    <a href="#phone" class="link-success nav-link" data-bs-toggle="tab"
      >Phone Number</a
    >
  </li>
</ul>
<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="company">
          <app-update-company-name></app-update-company-name>
        </div>
        <div class="tab-pane fade" id="email">
          <app-update-website></app-update-website>
        </div>
        <div class="tab-pane fade" id="phone">
          <app-update-phone></app-update-phone>
        </div>
      </div>
</div>
