<div class="container my-4">
  <div [ngStyle]="{backgroundColor:'var(--blue-600)'}" class="card-header fs-5 text-light text-center">Candidate List</div>
  <div
    *ngIf="loading == false; else loadingInfo"
    class="row d-flex justify-content-center align-items-center"
  >
    <div *ngFor="let candidate of candidates" class="col-md-3 my-3">
      <div routerLink="/candidate/{{candidate.id}}" class="card text-center" style="width: 19rem">
        <div
          class="
            card-body
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
        >
          <img
            *ngIf="candidate.profileImg"
            width="128"
            height="128"
            class="rounded-circle m-2 border border-5"
            src="{{ candidate.profileImg?.imageUrl }}"
          />
          <img
            *ngIf="!candidate.profileImg"
            width="128"
            height="128"
            class="rounded-circle m-2 border border-5"
            src="http://res.cloudinary.com/cloudinary73/image/upload/v1632609148/vkzs6cz3i9gla1vkohfr.png"
          />
          <h5 class="card-title">
            {{ candidate.firstName }} {{ candidate.lastName }}
          </h5>
        </div>
        <div class="card-footer text-muted" style="height: 51px">
          <a class="link-dark"
            *ngIf="candidate.githubAccount"
            href="{{ candidate.githubAccount }}"
            target="_blank"
            ><i class="me-2 bi bi-github"></i
          ></a>
          <a class="link-primary"
            *ngIf="candidate.linkedinAccount"
            href="{{ candidate.linkedinAccount }}"
            target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingInfo>
  <div
    class="
      text-center
      d-flex
      flex-column
      align-items-center
      justify-content-center
    "
    style="height: 500px"
  >
    <p-progressSpinner></p-progressSpinner>
    <h6 class="mt-2">Loading...</h6>
  </div>
</ng-template>
