
.card-body {
  padding: 15px;
}

.main-color {
  background-color: #ecf3f5;
}

i {
  transition: all 300ms;
}

i:hover {
  transform: scale(1.5);
}

.route {
    transition: all 300ms;
}

.route:hover {
  transform: scale(1.05);
}
