<div class="container">
  <p-table
    *ngIf="loading == false; else loadingInfo"
    id="myTable"
    #dt
    [value]="unverifiedEmployers"
    dataKey="id"
    styleClass="p-datatable-striped"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        <h4 class="fw-bold">
          <span class="text-danger">{{ unverifiedEmployers.length }} </span>
          updates are waiting for verification.
        </h4>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="companyName">
          <div class="d-flex justify-content-between align-items-center">
            Company Name
          </div>
        </th>

        <th pSortableColumn="email">
          <div class="d-flex justify-content-between align-items-center">
            Email
          </div>
        </th>

        <th pSortableColumn="website">
          <div class="d-flex justify-content-between align-items-center">
            Website
          </div>
        </th>

        <th pSortableColumn="phone">
          <div class="d-flex justify-content-between align-items-center">
            Phone
          </div>
        </th>

        <th>Verification</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employer>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">Company</span>
          {{ employer.companyName }}
        </td>

        <td>
          <span class="p-column-title">Email</span>
          {{ employer.email }}
        </td>

        <td>
          <span class="p-column-title">Website</span>
          {{ employer.website }}
        </td>


        <td>
          <span class="p-column-title">Phone</span>
          {{ employer.phoneNumber }}
        </td>

        <td>
          <span class="p-column-title">Verified Status</span>
          <button
            (click)="changeVerification(employer)"
            [ngStyle]="{ backgroundColor: 'var(--blue-600)' }"
            type="button"
            class="btn btn-sm text-light"
          >
            <span>verify <i class="bi bi-shield-check"></i></span>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No unverified updates found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #loadingInfo>
  <div
    class="
      text-center
      d-flex
      flex-column
      align-items-center
      justify-content-center
    "
    style="height: 200px"
  >
    <p-progressSpinner></p-progressSpinner>
    <h6 class="mt-2">Loading...</h6>
  </div>
</ng-template>
