<div class="container w-75 mt-3">
    <div class="card mb-4">
      <div class="card-header fs-6 fw-bold text-center"><i class="text-primary fs-4 bi bi-linkedin"></i></div>
    
      <div class="card-body">
        <form [formGroup]="linkedinAddForm" class="p-2">
          <div class="row">
            <div class="form-group col-md-12">
              <label>Linkedin Account</label>

              <div class="p-grid p-fluid">
                <input
                  type="text"
                  pInputText
                  formControlName="linkedinAccount"
                  placeholder="Please enter Linkedin account"
                />
              </div>

              <small
                class="text-danger"
                *ngIf="
                linkedinAddForm.get('linkedinAccount').hasError('required') &&
                linkedinAddForm.get('linkedinAccount').touched
                "
                >*Linkedin account is required.</small
              >
            </div>
          </div>
      
          <div class="text-center">
            <button
            [disabled]="!linkedinAddForm.valid"
            class="btn btn-success mt-3"
            (click)="addLinkedinAccount()"
          >
            Add Account
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  