<footer class="footer mt-auto py-3 border-top">
  <div class="container">
    <ul class="nav justify-content-center py-1 mb-2">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">&copy; 2021</a>
      </li>
      <li class="nav-item">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/emre-bebek-41270059/"
          class="nav-link px-2 text-muted"
          >Emre Bebek</a
        >
      </li>
      <li class="nav-item">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/aytun%C3%A7-korkmaz-634561185/"
          class="nav-link px-2 text-muted"
          >Aytunç Korkmaz</a
        >
      </li>
      <li class="nav-item">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/anda%C3%A7-erdo%C4%9Fmu%C5%9F-155053156/"
          class="nav-link px-2 text-muted"
          >Andaç Erdoğmuş</a
        >
      </li>
    </ul>
  </div>
</footer>
