<div *ngIf="loading == false; else loadingInfo">
    <div *ngIf="candidate?.cvs.length > 0; else emptyCv">
      <div class="container d-flex flex-column align-items-center text-center mt-2">
        <div class="col">
          <img
            *ngIf="candidate.profileImg"
            width="128"
            height="128"
            class="rounded-circle m-2 border border-5"
            src="{{ candidate.profileImg?.imageUrl }}"
          />
          <img
            *ngIf="!candidate.profileImg"
            width="128"
            height="128"
            class="rounded-circle m-2 border border-5"
            src="http://res.cloudinary.com/cloudinary73/image/upload/v1632609148/vkzs6cz3i9gla1vkohfr.png"
          />
    
          
          <h4 class="fw-bold mb-2">
            {{ candidate.firstName }} {{ candidate.lastName }}
          </h4>
        </div>
    
        <div class="card w-50 my-3">
          <div class="card-header text-center">
            <i class="bi bi-person"></i>About Me
          </div>
          <div class="card-body text-start">
            <p class="card-text">
                Cover Letter:
                <span class="fw-bold">{{ candidate.cvs[0].coverLetter }}</span>
              </p>
            <p class="card-text">
              Age:
              <span class="fw-bold">{{
                getCurrentYear() - candidate.birthYear
              }}</span>
            </p>
            <p class="card-text">
              Email: <span class="fw-bold">{{ candidate.email }}</span>
            </p>
            <p class="card-text">
              Languages:
              <span *ngFor="let lang of candidateLanguages" class="fw-bold"
                >{{ lang.language.name }}
                <span class="text-secondary small"
                  >({{ lang.languageLevel }})
                </span>
              </span>
            </p>
    
            <p class="card-text">
                Social Links: 
                <a class="link-dark"
                *ngIf="candidate.githubAccount"
                href="{{ candidate.githubAccount }}"
                target="_blank"
                ><i class="me-2 bi bi-github"></i
              ></a>
              <a class="link-primary"
                *ngIf="candidate.linkedinAccount"
                href="{{ candidate.linkedinAccount }}"
                target="_blank"
                ><i class="bi bi-linkedin"></i
              ></a>
            </p>
          </div>
        </div>
    
        <div class="card w-50 my-3">
          <div class="card-header text-center">
            <i class="bi bi-briefcase"></i>Professional Experience
          </div>
          <div class="card-body text-start">
            <p *ngFor="let job of candidateJobExperiences" class="card-text">
              <span class="fw-bold">{{ job.position.title }}</span> at
              <span class="fw-bold">{{ job.workPlace }} </span>
              <span class="small text-secondary">({{ job.startYear }} - </span>
              <span class="small text-secondary" *ngIf="job.quitYear">
                {{ job.quitYear }})</span
              >
              <span class="small text-secondary" *ngIf="!job.quitYear"
                >Present)</span
              >
            </p>
          </div>
        </div>
    
        <div class="card w-50 my-3">
          <div class="card-header text-center">
            <i class="bi bi-book"></i>Education
          </div>
          <div class="card-body text-start">
            <p *ngFor="let school of candidateSchools" class="card-text">
              <span class="fw-bold">{{ school.department.name }}</span> at
              <span class="fw-bold">{{ school.school.name }} </span>
              <span class="small text-secondary">({{ school.startYear }} - </span>
              <span class="small text-secondary" *ngIf="school.graduationYear">
                {{ school.graduationYear }})</span
              >
              <span class="small text-secondary" *ngIf="!school.graduationYear"
                >Present)</span
              >
            </p>
          </div>
        </div>
    
        <div class="card w-50 my-3">
          <div class="card-header text-center"><i class="bi bi-gem"></i>Skills</div>
          <div class="card-body">
            <p *ngFor="let skill of candidateSkills" class="card-text">
              <span class="fw-bold">{{ skill.skill.name }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <ng-template #emptyCv>
      <div class="container d-flex flex-column justify-content-center align-items-center text-center">
        <div class="p-5 m-2" >
            <h4>This candidate don't have any resume yet. </h4>
        </div>
      </div>
    </ng-template>
    
  </div>
  
  <ng-template #loadingInfo>
    <div
      class="
        text-center
        d-flex
        flex-column
        align-items-center
        justify-content-center
      "
      style="height: 500px"
    >
      <p-progressSpinner></p-progressSpinner>
      <h6 class="mt-2">Loading...</h6>
    </div>
  </ng-template>