<div class="card my-4 border-bottom-0">
  <div class="card-header text-center fw-bold">Current Experiences</div>
  <p-table
    *ngIf="loading == false; else loadingInfo"
    id="myTable"
    #dt
    [value]="candidateExperiences"
    dataKey="id"
    styleClass="p-datatable-striped"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="d-flex justify-content-between align-items-center">
            Work Place
          </div>
        </th>

        <th>
          <div class="d-flex justify-content-between align-items-center">
            Position Title
          </div>
        </th>

        <th>
          <div class="d-flex justify-content-between align-items-center">
            Start Year
          </div>
        </th>

        <th>
          <div class="d-flex justify-content-between align-items-center">
            Quit Year
          </div>
        </th>
        <th>

        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-experience>
      <tr class="p-selectable-row">
        <td>
          {{ experience.workPlace }}
        </td>

        <td>
          {{ experience.position.title }}
        </td>

        <td>
          {{ experience.startYear }}
        </td>

        <td>
          <span *ngIf="experience.quitYear"> {{ experience.quitYear }}</span>
          <span *ngIf="!experience.quitYear">Present</span>
        </td>

        <td class="text-end">
          <a (click)="deleteJobExperience(experience.id)"><i class="text-danger bi bi-x-lg"></i></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No experiences found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #loadingInfo>
  <div
    class="
      text-center
      d-flex
      flex-column
      align-items-center
      justify-content-center
    "
    style="height: 200px"
  >
    <p-progressSpinner></p-progressSpinner>
    <h6 class="mt-2">Loading...</h6>
  </div>
</ng-template>
