<div class="card my-4 border-bottom-0">
  <div class="card-header text-center fw-bold">Current Languages</div>

  <p-table
    *ngIf="loading == false; else loadingInfo"
    id="myTable"
    #dt
    [value]="candidateLanguages"
    dataKey="id"
    styleClass="p-datatable-striped"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="language.name">
          <div class="d-flex justify-content-between align-items-center">
            Language
          </div>
        </th>

        <th pSortableColumn="languageLevel">
          <div class="d-flex justify-content-between align-items-center">
            Level
          </div>
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-language>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">Language</span>
          {{ language.language.name }}
        </td>

        <td>
          <span class="p-column-title">Level</span>
          {{ language.languageLevel }}
        </td>

        <td class="text-end">
          <a (click)="deleteLanguage(language.id)"
            ><i class="text-danger bi bi-x-lg"></i
          ></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2">No languages found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #loadingInfo>
  <div
    class="
      text-center
      d-flex
      flex-column
      align-items-center
      justify-content-center
    "
    style="height: 200px"
  >
    <p-progressSpinner></p-progressSpinner>
    <h6 class="mt-2">Loading...</h6>
  </div>
</ng-template>
