<div class="container w-75 mt-3">
  <div class="card mb-4">
    <div class="card-header fs-6 fw-bold text-center">Add Job Experience</div>

    <div class="card-body">
      <form [formGroup]="experienceAddForm" class="p-2">
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label>Position</label>
            <div class="p-grid p-fluid">
              <p-dropdown
                [options]="positions"
                [(ngModel)]="selectedPosition"
                placeholder="Select a Position"
                [filter]="true"
                filterBy="title"
                optionLabel="title"
                optionValue="id"
                [showClear]="true"
                formControlName="positionId"
              ></p-dropdown>
            </div>
            <small
              class="text-danger"
              *ngIf="
                experienceAddForm.get('positionId').hasError('required') &&
                experienceAddForm.get('positionId').touched
              "
              >*Position is required.</small
            >
          </div>

          <div class="form-group col-md-6">
            <label>Work Place</label>

            <div class="p-grid p-fluid">
              <input
                type="text"
                pInputText
                formControlName="workPlace"
                placeholder="Please enter work place"
              />
            </div>
            <small
              class="text-danger"
              *ngIf="
                experienceAddForm.get('workPlace').hasError('required') &&
                experienceAddForm.get('workPlace').touched
              "
              >*Work place is required.</small
            >
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label>Start Year</label>
            <div class="p-grid p-fluid">
              <p-dropdown [options]="years" [(ngModel)]="selectedStartYear" formControlName="startYear" placeholder="Select a start year" [showClear]="true"></p-dropdown>
            </div>
            <small
              class="text-danger"
              *ngIf="
                experienceAddForm.get('startYear').hasError('required') &&
                experienceAddForm.get('startYear').touched
              "
              >*Start year is required.</small
            >
          </div>

          <div class="form-group col-md-6">
            <label>Quit Year</label>
            <div class="p-grid p-fluid">
              <p-dropdown [options]="years" [(ngModel)]="selectedQuitYear" formControlName="quitYear" placeholder="Select a quit year (optional)" [showClear]="true"></p-dropdown>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button
            [disabled]="!experienceAddForm.valid"
            class="btn btn-success mt-3"
            (click)="addExperience()"
          >
            Add Job Experience
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-candidate-experience-list></app-candidate-experience-list>
  
</div>
