

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-section {
  height: 100%;
  background: #ecf3f5;
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.wrap {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.text-wrap,
.login-wrap {
  width: 50%;
}

label {
  margin-top: 10px;
}

.card {
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.active-item {
  background-color: gainsboro;
  border-radius: 15px;
  padding: 10px 15px !important;
}